* {
    font-size: 12px;
}

body {
    font-family: 'lucida Grande', Verdana;
    font-size: 12px;
    margin: 0px;
}

a{
    color: #333333;
    text-decoration: none;
}

.header {
    background: url(../images/logo.png) no-repeat left top #096fc1;
    color: #ffffff;
}

.header a{
    color: #ffffff;
    text-decoration: none;
}

.head_title {
    background: url(../images/tubiao.png) no-repeat 10px center;
    padding-left: 40px;
    line-height: 30px;
}
.li{
    line-height: 25px;
}